*{
    font-family:Times;
}

.background{
    background:linear-gradient(#E6DADA,#274046);
}


.description{
    font-size:7vh;
    margin:1vw;
}

.album-text{
    font-size:5vh;
}

.display-text{
    font-size:6vw;
    margin:1vw;
}

.preview-text{
    font-size:3vw;
}

.album{
    float: left;
    text-align:center;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y: auto;
    width:11vw;
    height: 90vh;
    background-color:grey;
}



::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff; 
}

::-webkit-scrollbar-thumb {
  background: #312929; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.preview{
    float:right;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y: auto;
    width:25vw;
    height:75vh;
    padding: 2vw;
    text-align: center;
    align-items: center;
    display:block;
    background: #60b2b5;
    flex-wrap: wrap;
}

.preview-photo{
    width:10vw;
}

.preview-photo:hover{
    transform:scale(1.05,1.05);
    transition:all 0.5s;
    border:solid 1vh;
    border-image:#9b34eb;
}

.display{
    float:right;
    text-align: center;
    align-items: center;
    padding:1vw 5vw;
    width:40vw;
    display: block;
    flex-wrap: wrap;
}

.display-photo{
    width:30vw;
}

.display-photo:hover{
    transform:scale(1.05,1.05);
    transition:all 1s ease-out;
    border:solid 1.5vw #7FDBFF;
}

.album-photo{
    width:8vw;
}

.album-photo:hover{
    transform:scale(1.05,1.05);
    transition:all 0.5s;
    border:solid 1vh;
    border-image:#9b34eb;
}
