.background{
    background:linear-gradient(#E6DADA,#274046);
}

.images{
    display:inline-block;
    margin:auto;
    width:30vh;
}

.images:hover{
    transform:scale(1.05,1.05);
    transition:all 1s ease-out;
    border:solid 3vh #7FDBFF;
}

.images:active{
    transform:scale(1.5,1.5);   
    transition:all sharp;
    border:solid 5vh transparent;
    border-image:linear-gradient(#BBD2C5,#536976,#292E49);
    border-image-slice:1;
}

.description{
    font-family: Times;
    font-size:6vw;
    margin:0;
}

.photo-album{
    text-align: center;
}
